-ARCHIVE-
dev-jezziki-server.bat
/go-run.cmd
/go-update.cmd
*.txt
*.sql
.pgpass
!/static/public/robots.txt
push_remote_vm.bat
get_jezziki_dumps.bat
resetdb_clearlogs.bat
.bashrc
dev.nodes.json
host-online.bat
*.log
*.mod
*.sum
!cron.txt
!crontab.txt